@model CreateBannerDto

@{
    ViewData["Title"] = "CreateBanner";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Banner Girişi</h4>
                        <p class="card-subtitle mb-4">Banner alanına veri girişini aşağıdaki panelden yapabilirsiniz.</p>
                        <form method="post" asp-area="Admin" asp-controller="AdminBanner" asp-action="CreateBanner">
                            <div class="form-group">
                                <label for="Title">Başlık</label>
                                <input type="text" class="form-control" id="iTitle" asp-for="Title" placeholder="Başlığı Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="Description">Açıklama</label>
                                <input type="text" class="form-control" id="iDescription" asp-for="Description" placeholder="Açıklamayı Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="VideoDescription">Video Açıklama</label>
                                <input type="text" class="form-control" id="iVideoDescription" asp-for="VideoDescription" placeholder="Video Açıklamasını Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="VideoUrl">Video Url</label>
                                <input type="text" class="form-control" id="iVideoUrl" asp-for="VideoUrl" placeholder="Video'nun Youtube Embed Linkini Giriniz">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

